<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <connectionStrings>
    <add
          name="conexaoBDSistemaEstoque"
          connectionString="Data Source=DESKTOP-SBPM6SJ;Initial Catalog=SistemaEstoque;Integrated Security=True;Connect Timeout=9999999;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
          providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>